body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.button {
  width: 40px;
  font-size: 16px;
  
}
.fa-star {
  margin: 0.4em;
  font-size: 64px;

}
span {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  font-size: 14px;
  background-color: #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
.selected {
  background-color: #eee;
  color: #ddd;
  cursor: not-allowed;
}
.used {
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}
.card {
  height: 100%;
}
